[user]
  name = Maksim Lapin
  email = maksiml@amazon.com

[core]
#  pager = less -FX
  pager = less -FMRiX
  editor = nano
#  autocrlf = input

[alias]
  ca = commit -am
  cm = commit -m
  co = checkout
  di = diff
  fe = fetch
  dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
  lol = log --graph --decorate --all
  lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  me = merge
  mm = merge origin/master
  st = status
  pu = push

[color]
  ui = auto

[mergetool]
  keepBackup = false

[push]
  default = simple

[amazon]
  append-cr-url = false
  pull-request-by-default = true
