[user]
  name = Maksim Lapin
  email = mlapin@mpi-inf.mpg.de

[alias]
  ca = commit -am
  cm = commit -m
  co = checkout
  di = diff
  fe = fetch
  lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  me = merge
  mm = merge origin/master
  st = status
  pu = push

[color]
  ui = auto

[core]
  pager = less -FX
  editor = nano
  autocrlf = input

[mergetool]
  keepBackup = false

[push]
  default = simple
